<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="Placement Preparation Test App">
<meta name="description" content="Free Placement Preparation Kit">
<meta name="keywords"
	content="Placement, Aptitude, Programming, Interview Questions, Technical Round">
<meta name="author" content="M Vivek">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PPT- Test</title>
    
<link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/navpanel.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">




</head>
<body>
    <div data-view-location = "../views/navpanel.html"></div>
</body>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>