
div{
    position: relative;
}

.container-fluid{
    background-color: cornflowerblue;
}

.begintestbox{
    height: 25em;
    width: 50%;
    text-align: center;
    left: 0;
    right: 0;
    top: 10em;
    margin: auto;
    position: relative;
    vertical-align: middle;
}

.begintestbox-title{
    width: auto;
    height: auto;
}

#begintestbtn{
    position: relative;
    top: 16em;
}